.calculator {
    width: 300px;
    margin: 0 auto;
    border: 5px ridge #ff0000;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(47, 63, 186);
  }
  
  .display {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 95%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
  }
  
  button {
    width: 60px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    cursor: pointer;
    color: rgb(207, 37, 37);
  }
  
  button:hover {
    background-color: #a62424;
    color: white;
  }
  
  button:active {
    background-color: #fc0000;
  }
